/*font Variables*/
$primary-font: 'Roboto', sans-serif;
$title-font: 'Rajdhani', sans-serif;

/*Color Variables*/
$primary-color: #48a043;
$white-color:#fff;
$black-color:rgb(29, 28, 28);


@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,600|Roboto:400,500,500i');
